body{
    height: 100vh;
    background: linear-gradient(purple, red); 
    overflow: hidden;
    font-family: Montserrat, sans-serif;
}
h1{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.24);
    font-family: Montserrat, sans-serif;
    font-size: 50px;
}
#fizzBuzz{
    margin: auto;
    color: white;
    font-size: 1.5em;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    overflow: hidden scroll;
    scroll-behavior: auto;
    text-align: center;
    background: linear-gradient(red, purple);
    transition: transform 1s ease-out;
}
#fizzBuzz:hover{
    transform: rotate(3600deg);
}
button{
    box-sizing: border-box;
    appearance: none;
    background-color: blanchedalmond;
    border: 2px solid black;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
button:hover{
    background-color: rgba(255, 235, 205, 0.329);
}