body{
    background: linear-gradient(90deg, grey, black);
}
h1{
    text-align: center;
    color: white;
    font-family: Montserrat, sans-serif;
}
#clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 5em;
    letter-spacing: 7px;
}